// Styles for background images on homepage
.full-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// TODO add class to 2 background images
.modify-bgimage {
  padding: 15%;
  text-align: left;
}
