$pano-height: 406px;

/* Adjust the viewer for mobile. */
@media screen and (min-width: 300px) and (max-width: 699px){
  $pano-height: 146px;
}
@media screen and (min-width: 700px) and (max-width: 1199px){
  $pano-height: 266px;
}
@media screen and (min-width: 1200px){
  $pano-height: 406px;
}

#panorama-image {
  height: $pano-height;
}
.panorama-container {
  position: relative;
  height: $pano-height;
  overflow: hidden;
}
.pv-container .pv-overlay {
  // position: relative;
  top: inherit;
  height: $pano-height;
  background: rgba(0,0,0,0.1);
}
.pv-container .pv-overlay i.pvicon-overlay {
  margin-top: 0;
  margin-bottom: 0;
}
.pv-inner .pv-animating {
  // height: $pano-height !important;
  background-position: center center;
}