.logo-lender {
  margin-top: 5px;
}
.logo-lender-row {
  text-align: center;
}
.logo-lender-row div {
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo-lender-row:last-of-type {
  padding-bottom: 20px;
}
