{% extends 'base.twig' %}

  {% block content %}
<style type="text/css">
  #content.content-wrapper {
    margin-top: 72px;
}
  .jig-filterButton {
    text-transform: uppercase !important;
  }
  .gallery-white-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    z-index: 1;
  }
  /* Adjust overall body text for mobile. */
  @media screen and (min-width: 300px) and (max-width: 699px){
    #content.content-wrapper {
      margin-top: 60px;
    }
    .gallery-white-bar {
      height: 65px;
    }
    .jig-filterButton {
      font-size: 14px !important;
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1199px){
    #content.content-wrapper {
      margin-top: 64px;
    }
    .gallery-white-bar {
      height: 75px;
    }
    .jig-filterButton {
      font-size: 15px !important;
    }
  }
  @media screen and (min-width: 1200px){
    #content.content-wrapper {
      margin-top: 72px;
    }
    .gallery-white-bar {
      height: 75px;
    }
    .jig-filterButton {
      /*font-size: 15px;*/
    }
  }
</style>
<div class="gallery-white-bar"></div>
  {{ filter_gallery.get_content }}

  <!-- <script src="{{function('get_stylesheet_directory_uri')}}/js/click-gallery-filter.js"></script> -->
  <script>
  $(window).load(function(){
    var jigs = $('.justified-image-grid');
    if(jigs.length !== 0){
       jigs.data('justifiedImageGrid').createGallery('resize');
    }
  });
  </script>

  {% endblock %}
